node_modules/
index.html


TestResults/
packages/
OnlineShop.Tests/bin/
OnlineShop.Tests/obj/
OnlineShop/bin/
OnlineShop/ext/
OnlineShop/metadata/
OnlineShop/obj/
OnlineShop/resources/
OnlineShop/.architect
OnlineShop/index.html
OnlineShop/ItemsTable.xds

*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc